@CHARSET "ISO-8859-1";

.toolbar {
	height: 24px;
	padding: 1px;
	background-color: #EAEAEA;
}

.toolbar td {
	/* NOTE: this middle aligns ALL toolbar contents which can't be overridden! */
	vertical-align: middle !important;
}

.toolbar .separator {
	margin: 0 4px 0 4px;
}
