@CHARSET "ISO-8859-1";

.fld input, .fld select, .fld textarea {
	padding: 0;
	margin: 0 1px 0 0;
}

.fld .lbl, label {
	color: blue;
	cursor: pointer;
	white-space: nowrap;
}

label .rqd {
	color: red;
	font-size: 14px;
}

.error input, .error select, .error textarea {
	border: 1px solid red !important;
	background-color: #FFFFCC;
}

.dirty input, .dirty select, .dirty textarea {
	border: 1px solid #007BBF !important;
	background-color: #DFF4FF;
}

.fld .icon {
	cursor: pointer;
	display: inline;
}

/* field container style for FlowPanelFieldComposer */
.fldc {
  margin: 1px;
}

/* field row for FlowPanelFieldComposer */
.frow {
  margin-bottom: .5em;
  width: 100%;
}