<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>smbiz Admin</display-name>
  <description>smbiz Administration UI</description>

  <context-param>
    <param-name>guice.module.classnames</param-name>
    <param-value>
      com.tll.di.VelocityModule
      com.tll.di.MailModule
      com.tll.di.RefDataModule
      com.tll.di.ModelModule
      com.tll.di.MockEntitiesModule
      com.tll.di.JpaModule
      com.tll.di.DaoModule
      com.tll.di.EntityServiceModule
      com.tll.di.SecurityModule
    </param-value>
  </context-param>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- ====================================================================== -->
  <!--                             Filters                                    -->
  <!-- ====================================================================== -->

  <filter>
    <filter-name>HttpSessionContextIntegrationFilter</filter-name>
    <filter-class>com.tll.server.filter.HttpSessionContextIntegrationFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>HttpSessionContextIntegrationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>CacheManagerFilter</filter-name>
    <filter-class>com.tll.server.filter.CacheManagerFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>CacheManagerFilter</filter-name>
    <url-pattern>/rpc/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>OpenEntityManagerInViewFilter</filter-name>
    <filter-class>com.tll.server.filter.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>OpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/rpc/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>OpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/adminLogin/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>AuthenticationProcessingFilter</filter-name>
    <filter-class>com.tll.server.admin.filter.AuthenticationProcessingFilter</filter-class>
		<init-param>
			<param-name>authenticationFailureUrl</param-name>
			<param-value>/adminLogin?login_error=1</param-value>
		</init-param>
		<init-param>
			<param-name>defaultTargetUrl</param-name>
			<param-value>/adminLogin</param-value>
		</init-param>
  </filter>

  <filter-mapping>
    <filter-name>AuthenticationProcessingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>AnonymousProcessingFilter</filter-name>
  	<filter-class>com.tll.server.filter.AnonymousProcessingFilter</filter-class>
  	<init-param>
			<param-name>key</param-name>
			<param-value>smbiz</param-value>
  	</init-param>
  	<init-param>
			<param-name>userAttribute</param-name>
			<param-value>anonymousUser,ROLE_ANONYMOUS</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>AnonymousProcessingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>ExceptionTranslationFilter</filter-name>
  	<filter-class>com.tll.server.filter.ExceptionTranslationFilter</filter-class>
  	<init-param>
			<param-name>errorPage</param-name>
			<param-value>/admin/errorHandler/</param-value>
  	</init-param>
  	<init-param>
			<param-name>loginFormUrl</param-name>
			<param-value>/adminLogin</param-value>
  	</init-param>
  	<init-param>
			<param-name>forceHttps</param-name>
			<param-value>false</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>ExceptionTranslationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>FilterSecurityInterceptor</filter-name>
  	<filter-class>com.tll.server.filter.FilterSecurityInterceptor</filter-class>
  	<init-param>
			<param-name>objectDefinitionSource</param-name>
			<param-value>
				PATTERN_TYPE_APACHE_ANT
				/adminLogin=ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMINISTRATOR
				/adminLogoff=ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMINISTRATOR
				/rpc/adminForgotPassword=ROLE_ANONYMOUS
				/rpc/**=ROLE_USER,ROLE_ADMINISTRATOR
				/admin/user/setCredentials**=ROLE_USER,ROLE_ADMINISTRATOR
				/admin/user/**=ROLE_ADMINISTRATOR
				/admin/**=ROLE_USER,ROLE_ADMINISTRATOR
			</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>FilterSecurityInterceptor</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>WebClientCacheFilter</filter-name>
    <filter-class>com.tll.server.filter.WebClientCacheFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>WebClientCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- ====================================================================== -->
  <!--                             Listeners                                  -->
  <!-- ====================================================================== -->

  <listener>
    <listener-class>com.tll.server.Bootstrapper</listener-class>
  </listener>
  
  <!-- 
  <listener>
    <listener-class>com.tll.server.SessionEventListener</listener-class>
  </listener>
  
  <listener>
    <listener-class>org.acegisecurity.ui.session.HttpSessionEventPublisher</listener-class>
  </listener>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  -->
  
  <!-- ====================================================================== -->
  <!--                             Servlets                                   -->
  <!-- ====================================================================== -->

	<!-- START Hosted Mode Add-ons -->
	<servlet>
		<servlet-name>shell</servlet-name>
		<servlet-class>com.google.gwt.dev.shell.GWTShellServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>shell</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<!-- END Hosted Mode Add-ons -->
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.tll.server.servlet.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/adminLogin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.tll.server.servlet.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/adminLogout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ErrorHandlerServlet</servlet-name>
		<servlet-class>com.tll.server.servlet.ErrorHandlerServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ErrorHandlerServlet</servlet-name>
		<url-pattern>/admin/errorHandler/</url-pattern>
	</servlet-mapping>
	
	<!-- GWT RPC Servlets (services) -->
	
  <servlet>
    <servlet-name>AuxDataService</servlet-name>
    <servlet-class>com.tll.server.rpc.AuxDataService</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AuxDataService</servlet-name>
    <url-pattern>/rpc/aux</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<servlet-name>ListingService</servlet-name>
		<servlet-class>com.tll.server.rpc.listing.ListingService</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ListingService</servlet-name>
		<url-pattern>/rpc/listing</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CrudService</servlet-name>
		<servlet-class>com.tll.server.rpc.entity.MEntityServiceDelegate</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CrudService</servlet-name>
		<url-pattern>/rpc/crud</url-pattern>
	</servlet-mapping>
	
  <servlet>
    <servlet-name>ForgotPasswordService</servlet-name>
    <servlet-class>com.tll.server.rpc.ForgotPasswordService</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>ForgotPasswordService</servlet-name>
    <url-pattern>/rpc/adminForgotPassword</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminContextService</servlet-name>
    <servlet-class>com.tll.server.admin.rpc.AdminContextService</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AdminContextService</servlet-name>
    <url-pattern>/rpc/adminContext</url-pattern>
  </servlet-mapping>
  
</web-app>