<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
  version="1.0">
  
  <persistence-unit name="${db.name}" transaction-type="RESOURCE_LOCAL">
  
    <description>${app.name} persistence unit.</description>
    
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    
    <properties>
      <property name="hibernate.archive.autodetection" value="class" />
      <property name="hibernate.dialect" value="${hibernate.dialect}" />
      <property name="hibernate.connection.provider_class" value="${hibernate.connection.provider_class}" />
      <property name="hibernate.connection.driver_class" value="${db.driver}" />
      <property name="hibernate.connection.username" value="${db.username}" />
      <property name="hibernate.connection.password" value="${db.password}" />
      <property name="hibernate.connection.url" value="${db.urlprefix}/${db.name}" />

      <property name="hibernate.c3p0.max_size" value="${hibernate.c3p0.max_size}" /> 
      <property name="hibernate.c3p0.min_size" value="${hibernate.c3p0.min_size}" />
      <property name="hibernate.c3p0.timeout" value="${hibernate.c3p0.timeout}" />
      <property name="hibernate.c3p0.max_statements" value="${hibernate.c3p0.max_statements}" />
      <property name="hibernate.c3p0.acquire_increment" value="${hibernate.c3p0.acquire_increment}" /> 
      <property name="hibernate.c3p0.idle_test_period" value="${hibernate.c3p0.idle_test_period}" /> 

      <property name="hibernate.verbose" value="${hibernate.verbose}" />
      <property name="hibernate.show_sql" value="${hibernate.show_sql}" />
      <property name="hibernate.format_sql" value="${hibernate.format_sql}" />
      <property name="hibernate.use_outer_join" value="${hibernate.use_outer_join}" />
      <property name="hibernate.use_sql_comments" value="${hibernate.use_sql_comments}" />
      <property name="hibernate.cache.provider_class" value="${hibernate.cache.provider_class}" />
      <property name="hibernate.cache.provider_configuration_file_resource_path" value="${hibernate.cache.provider_configuration_file_resource_path}" />
      <property name="hibernate.cache.region_prefix" value="${hibernate.cache.region_prefix}" />
      <property name="hibernate.cache.use_query_cache" value="${hibernate.cache.use_query_cache}" />
      <property name="hibernate.generate_statistics" value="${hibernate.generate_statistics}" />
      <property name="hibernate.ejb.event.merge" value="${hibernate.ejb.event.merge}" />
      <property name="hibernate.validator.autoregister_listeners" value="${hibernate.validator.autoregister_listeners}" />
    </properties>
    
  </persistence-unit>
  
</persistence>
