<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <display-name>Listing Test</display-name>
  <description>Tests for the client-listing module.</description>

  <context-param>
    <param-name>di.modules</param-name>
    <param-value>
      com.tll.di.RefDataModule
      com.tll.di.ModelModule
      com.tll.di.MockEntityFactoryModule
      com.tll.di.DaoModule
      com.tll.di.TransactionModule
      com.tll.di.EntityServiceModule
      com.tll.di.EntityServiceFactoryModule
    </param-value>
  </context-param>
  
  <context-param>
    <param-name>di.handlers</param-name>
    <param-value> 
      com.tll.server.rpc.entity.MEntityServiceBootstrapper
    </param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>UITests.html</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>com.tll.server.Bootstrapper</listener-class>
  </listener>
  
  <filter>
    <filter-name>CacheManagerFilter</filter-name>
    <filter-class>com.tll.server.filter.CacheManagerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheManagerFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>OpenEntityManagerInViewFilter</filter-name>
    <filter-class>com.tll.server.filter.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>WebClientCacheFilter</filter-name>
    <filter-class>com.tll.server.filter.WebClientCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WebClientCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <url-pattern>/uitests/gwt-log</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ListingService</servlet-name>
    <servlet-class>com.tll.server.rpc.listing.ListingService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListingService</servlet-name>
    <url-pattern>/rpc/listing</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CrudService</servlet-name>
    <servlet-class>com.tll.server.rpc.entity.MEntityServiceDelegate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudService</servlet-name>
    <url-pattern>/rpc/crud</url-pattern>
  </servlet-mapping>
  
</web-app>
