<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

  <display-name>Listing Test</display-name>
  <description>Tests for the client-listing module.</description>

  <context-param>
    <param-name>di.modules</param-name>
    <param-value>
      com.tll.di.RefDataModule
      com.tll.di.ValidationModule
      com.tll.di.ModelModule
      com.tll.di.MockEntityFactoryModule
      com.tll.di.MockDaoModule
      com.tll.di.EntityAssemblerModule
      com.tll.di.EntityServiceFactoryModule
    </param-value>
  </context-param>
  
  <context-param>
    <param-name>di.handlers</param-name>
    <param-value> 
      com.tll.server.rpc.entity.MEntityServiceBootstrapper
    </param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>UITests.html</welcome-file>
  </welcome-file-list>
  
  <listener>
    <listener-class>com.tll.server.Bootstrapper</listener-class>
  </listener>
  
  <filter>
    <filter-name>MockSessionFilter</filter-name>
    <filter-class>com.tll.server.filter.mock.MockSessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MockSessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>WebClientCacheFilter</filter-name>
    <filter-class>com.tll.server.filter.WebClientCacheFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WebClientCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <url-pattern>/uitests/gwt-log</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ListingService</servlet-name>
    <servlet-class>com.tll.server.rpc.listing.ListingService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListingService</servlet-name>
    <url-pattern>/uitests/rpc/listing</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CrudAuxDataService</servlet-name>
    <servlet-class>com.tll.server.rpc.entity.CrudAuxDataService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudAuxDataService</servlet-name>
    <url-pattern>/uitests/rpc/crud</url-pattern>
    <url-pattern>/uitests/rpc/aux</url-pattern>
  </servlet-mapping>
  
</web-app>
