<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

  <display-name>smbiz Admin</display-name>
  <description>smbiz Administration UI</description>

  <context-param>
    <description>
      Dependency Injection modules (class names) that collectively bootstrap the application.
      This context param is processed by com.tll.server.Bootstrapper.
    </description>
    <param-name>di.modules</param-name>
    <param-value>${di.modules}</param-value>
  </context-param>
  
  <context-param>
    <description>
      Declaration of the application dependency injection handlers (class names).
      These handlers are passed the constructed "dependency injector" providing 
      an hook to alter the servlet context.
    </description>
    <param-name>di.handlers</param-name>
    <param-value>${di.handlers}</param-value>
  </context-param>

  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <listener>
    <listener-class>com.tll.server.Bootstrapper</listener-class>
  </listener>

  <servlet>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remoteLoggerServiceImpl</servlet-name>
    <url-pattern>/smbizAdmin/gwt-log</url-pattern>
  </servlet-mapping>

  <!-- START NO SECURITY -->
  <filter>
    <filter-name>NoSecuritySessionContextFilter</filter-name>
    <filter-class>com.tll.server.filter.NoSecuritySessionContextFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>NoSecuritySessionContextFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- END NO SECURITY -->
  
  <!-- START SECURITY ACEGI -->
  <filter>
    <filter-name>HttpSessionContextIntegrationFilter</filter-name>
    <filter-class>com.tll.server.filter.HttpSessionContextIntegrationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>HttpSessionContextIntegrationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>AuthenticationProcessingFilter</filter-name>
    <filter-class>com.tll.server.filter.SmbizAuthenticationProcessingFilter</filter-class>
    <init-param>
      <param-name>authenticationFailureUrl</param-name>
      <param-value>/smbizAdmin/adminLogin?login_error=1</param-value>
    </init-param>
    <init-param>
      <param-name>defaultTargetUrl</param-name>
      <param-value>/smbizAdmin/adminLogin</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationProcessingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>AnonymousProcessingFilter</filter-name>
    <filter-class>com.tll.server.filter.AnonymousProcessingFilter</filter-class>
    <init-param>
      <param-name>key</param-name>
      <param-value>smbiz</param-value>
    </init-param>
    <init-param>
      <param-name>userAttribute</param-name>
      <param-value>anonymousUser,ROLE_ANONYMOUS</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AnonymousProcessingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>ExceptionTranslationFilter</filter-name>
    <filter-class>com.tll.server.filter.ExceptionTranslationFilter</filter-class>
    <init-param>
      <param-name>errorPage</param-name>
      <param-value>/smbizAdmin/errorHandler/</param-value>
    </init-param>
    <init-param>
      <param-name>loginFormUrl</param-name>
      <param-value>/smbizAdmin/adminLogin</param-value>
    </init-param>
    <init-param>
      <param-name>forceHttps</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ExceptionTranslationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>FilterSecurityInterceptor</filter-name>
    <filter-class>com.tll.server.filter.FilterSecurityInterceptor</filter-class>
    <init-param>
      <param-name>objectDefinitionSource</param-name>
      <param-value>
        PATTERN_TYPE_APACHE_ANT
        /adminLogin=ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMINISTRATOR
        /adminLogoff=ROLE_ANONYMOUS,ROLE_USER,ROLE_ADMINISTRATOR
        /rpc/adminForgotPassword=ROLE_ANONYMOUS
        /rpc/**=ROLE_USER,ROLE_ADMINISTRATOR
        /admin/user/setCredentials**=ROLE_USER,ROLE_ADMINISTRATOR
        /admin/user/**=ROLE_ADMINISTRATOR
        /admin/**=ROLE_USER,ROLE_ADMINISTRATOR
      </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FilterSecurityInterceptor</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.tll.server.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/smbizAdmin/adminLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.tll.server.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/smbizAdmin/adminLogout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ErrorHandlerServlet</servlet-name>
    <servlet-class>com.tll.server.servlet.ErrorHandlerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorHandlerServlet</servlet-name>
    <url-pattern>/smbizAdmin/errorHandler/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ForgotPasswordService</servlet-name>
    <servlet-class>com.tll.server.rpc.ForgotPasswordService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordService</servlet-name>
    <url-pattern>/smbizAdmin/rpc/adminForgotPassword</url-pattern>
  </servlet-mapping>
  <!-- END SECURITY ACEGI -->
  
  <!-- START DB ORM -->
  <filter>
    <filter-name>OpenEntityManagerInViewFilter</filter-name>
    <filter-class>com.tll.server.filter.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OpenEntityManagerInViewFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <url-pattern>/adminLogin/*</url-pattern>
  </filter-mapping>
  <!-- END DB ORM -->
  
  <!-- START DB MOCK -->
  <!-- END DB MOCK -->
  
  <filter>
    <filter-name>WebClientCacheFilter</filter-name>
    <filter-class>com.tll.server.filter.WebClientCacheFilter</filter-class>
    <init-param>
      <param-name>oneDayCacheFileExts</param-name>
      <param-value>${oneDayCacheFileExts}</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>WebClientCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

	<!-- GWT RPC Servlets -->
  <servlet>
    <servlet-name>CrudAuxDataService</servlet-name>
    <servlet-class>com.tll.server.rpc.entity.CrudAuxDataService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CrudAuxDataService</servlet-name>
    <url-pattern>/smbizAdmin/rpc/crud</url-pattern>
    <url-pattern>/smbizAdmin/rpc/aux</url-pattern>
  </servlet-mapping>
  
	<servlet>
		<servlet-name>ListingService</servlet-name>
		<servlet-class>com.tll.server.rpc.listing.ListingService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListingService</servlet-name>
		<url-pattern>/smbizAdmin/rpc/listing</url-pattern>
	</servlet-mapping>
	
  <servlet>
    <servlet-name>AdminContextService</servlet-name>
    <servlet-class>com.tll.server.rpc.AdminContextService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminContextService</servlet-name>
    <url-pattern>/smbizAdmin/rpc/adminContext</url-pattern>
  </servlet-mapping>
  <!-- END GWT RPC Servlets -->
  
</web-app>