@CHARSET "ISO-8859-1";

label {
	color: blue;
	cursor: pointer;
	cursor: hand;
	white-space: nowrap;
}

.fld {
}

.fldtitle {
	font-weight: bold;
	white-space: nowrap;
}

.fld .tbox {
	padding: 0;
	margin: 0 1px 0 0;
	border: 1px solid gray;
}

/* checkbox and radio specific label styling */
.cbrb label {
  margin-left: 4px;
}

label .rqd {
	color: red;
	font-size: 14px;
}

.error input, .error select, .error textarea {
	border-color: red !important;
	background-color: #FFDFDF;
}

.dirty input, .dirty select, .dirty textarea {
	border-color: #007BBF !important;
	background-color: #DFF4FF;
}

.fld .icon {
	cursor: pointer;
	display: inline;
}

/* radio field grid styling (GridRenderer grid style) */
.fradioGrid {
}

.fradioGrid td {
  padding: 0 2px;
}

/* field panel styles */
.fpnl {
}

.fpnl .gwt-DisclosurePanel .header td {
	font-weight: bold;
}

/* FlowPanelFieldComposer styles */
.fldc {
  margin: 1px;
}
.fldc a {
  display: block;
}

.frow {
  margin-top: .2em;
  margin-bottom: .2em;
  /*width: 100%;*/
}

/* GridFieldComposer styles */
.fgrid {
}

.fgrid .cell-lbl {
  vertical-align: top;
}

.fgrid .cell-fld {
  padding: 2px;
}

/* TabbedIndexedFieldPanel */
.tifp {
}

.tifp .empty {
  padding: 2em;
}

.tifp .gwt-TabBar .gwt-TabBarItem .delbtn {
	display: none;
}

.tifp .gwt-TabBar .gwt-TabBarItem-selected .delbtn {
	background-color: transparent !important;
	display: block;
}
.tifp .gwt-TabBar .gwt-TabBarItem-selected * {
	font-weight: bold;
}

.tifp .toolbar {
	background-color: transparent;
	height: inherit !important;
}
.tifp .button-up,
.tifp .button-up-hovering,
.tifp .button-up-disabled {
  padding: 0;
}
.tifp .button-down,
.tifp .button-down-hovering,
.tifp .button-down-disabled {
  padding: 0;
}

.tifp .button-up {
  border-color: transparent;
}
.tifp .button-up-hovering {
	background-color: white;
}
.tifp .button-up-disabled {
  border-color: transparent;
}
.tifp .button-down {
  border-color: transparent;
}
.tifp .button-down-hovering {
  border-color: transparent;
}
.tifp .button-down-disabled {
  border-color: transparent;
}
