@CHARSET "ISO-8859-1";

.gwt-Hyperlink {
	display: inline;
}

.gwt-PushButton, .gwt-ToggleButton {
	cursor: pointer;
}

.gwt-PushButton *, .gwt-ToggleButton * {
	white-space: nowrap;
}

.gwt-PushButton-up {
	/*border: 1px solid;
	border-color: transparent;*/
}

.gwt-PushButton-up-hovering, .gwt-PushButton-down, .gwt-PushButton-down-hovering {
	cursor: pointer;
}

.gwt-TextBox {
	border: 1px solid silver;
}

.gwt-PasswordTextBox {
	border: 1px solid silver;
}

.gwt-ListBox {
	border: 1px solid silver;
}

.gwt-SuggestBox {
	border: 1px solid silver;
}

.gwt-SuggestBoxPopup {
	border: 1px solid silver;
	background-color: white;
}

.gwt-SuggestBoxPopup .item {
	
}

.gwt-SuggestBoxPopup .item-selected {
	background-color: silver;
}

.gwt-DisclosurePanel .header {
	background-color: silver;
	cursor: pointer;
	cursor: hand;
}

.gwt-DisclosurePanel .header * {
	color: white;
	white-space: nowrap;
}

.gwt-DisclosurePanel .header {
	padding: 1px;
}
.gwt-DisclosurePanel .content {
	padding: 2px;
}

.gwt-DisclosurePanel-open {
	
}

.gwt-DisclosurePanel-closed {
	
}

.gwt-DialogBox {
	border: 1px solid silver;
	background-color: white;
}

.gwt-DialogBox .Caption {
	background-color: /*#C3D9FF;*/ #EAEAEA;
	padding: 3px;
	margin: 2px;
	font-weight: bold;
	cursor: move;
}

.gwt-TabPanel {
	margin-top: 4px;
}

.gwt-TabPanelBottom {
	background-color: #E8EEF7;
}

.gwt-TabBar {
	padding-top: 2px;
	border-bottom: 4px solid #87B3FF;
	background-color: #fff;
}

.gwt-TabBar .gwt-TabBarFirst { /*the left edge of the bar*/
	
}

.gwt-TabBar .gwt-TabBarRest { /*the right edge of the bar*/
	
}

.gwt-TabBar .gwt-TabBarItem { /*unselected tabs*/
	padding: 4px;
	cursor: pointer;
	cursor: hand;
	background-color: #e8eef7;
	border-bottom: 2px solid white;
	margin-right: 2px;
}

.gwt-TabBar .gwt-TabBarItem-selected {
	/*additional style for selected tabs*/
	padding: 4px;
	font-weight: bold;
	cursor: default;
	background-color: #87b3ff;
	border-bottom: 2px solid #87b3ff;
	margin-right: 2px;
}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #C3D9FF;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

/* TK related */
.tk-SimpleHyperLink {
	
}
