<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="client-model-tests">
  
  <test name="common-tests" annotations="JDK">
    <groups>
      <run>
        <include name="common" />
      </run>
    </groups>
    <packages>
      <package name="com.tll.*" />
    </packages>
  </test>
  
</suite>
