<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tll-dao-orm-tests">

  <test name="hibernate-tests" annotations="JDK">
    <groups>
      <run>
        <include name="dao.hibernate" />
      </run>
    </groups>
    <packages>
      <package name="com.tll.dao.hibernate" />
    </packages>
  </test>

  <test name="orm-dao-tests" annotations="JDK">
    <groups>
      <run>
        <include name="dao" />
      </run>
    </groups>
    <packages>
      <package name="com.tll.dao" />
    </packages>
  </test>

</suite>
